/*-----------public-----------*/
/*---------common-----------*/
@-webkit-keyframes resize {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@keyframes resize {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}
.P800 {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.T3D {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chuncai-main {
  left: 90%;
  top: 70%;
  display: block;
  position: fixed;
  z-index: 100;
  width: 85px;
  height: 152px;
  overflow: visible;
  font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.chuncai-main > .chuncai-face {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 152px;
  cursor: grab;
  cursor: -webkit-grab;
}
.chuncai-main > .chuncai-face:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.chuncai-main > .chuncai-face-00 {
  background: url(http://i11.tietuku.cn/07fbf8aa1c883a07.png) no-repeat;
}
.chuncai-main > .chuncai-face-00 > .chuncai-face-eye {
  background: url(http://i11.tietuku.cn/66efc0d3777f41d3.png) no-repeat;
  left: 14px;
  top: 49px;
  width: 44px;
  height: 19px;
  position: absolute;
  -webkit-animation: blink 5s infinite;
  -moz-animation: blink 5s infinite;
  -o-animation: blink 5s infinite;
  animation: blink 5s infinite;
}
.chuncai-main > .chuncai-face-01 {
  background: url(http://i11.tietuku.cn/18828eab0a9aff06.png) no-repeat;
}
.chuncai-main > .chuncai-face-02 {
  background: url(http://i11.tietuku.cn/8c7b23c989422c81.png) no-repeat;
}
.chuncai-main > .chuncai-chat {
  position: absolute;
  left: -210px;
  top: 0;
  width: 16em;
  border: 1px solid #ff5a77;
  background: #ffe;
  font-size: 12px;
  border-radius: 4px;
}
.chuncai-main > .chuncai-chat::before,
.chuncai-main > .chuncai-chat::after {
  position: absolute;
  bottom: -4px;
  right: 3px;
  border-bottom: 5px solid transparent;
  border-right: 14px solid #ffe;
  content: '';
}
.chuncai-main > .chuncai-chat::before {
  bottom: -5px;
  right: 2px;
  border-right: 16px solid #ff5a77;
}
.chuncai-main > .chuncai-chat > .chuncai-word {
  padding: 0.5em;
  color: gray;
  min-height: 15px;
  word-wrap: break-word;
}
.chuncai-main > .chuncai-chat > .chuncai-menu {
  display: none;
}
.chuncai-main > .chuncai-chat > .chuncai-menu > a {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #d2322d;
}
.chuncai-main > .chuncai-chat > .chuncai-menu-btn {
  margin-top: 0.3em;
  padding: 0 10px 2px;
  color: #ff5a77;
  font-family: monospace;
  text-align: right;
  cursor: pointer;
}
a.chuncai-zhaohuan {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5em 0.75em;
  padding: 1px 0.7em;
  border: 1px solid #ff5a77;
  color: #d2322d;
  background: #ffe;
  font-size: small;
  cursor: pointer;
  border-radius: 3px;
}
/* 眨眼 */
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
